/* background image */
body {
    background-image: url("assets/background.jpg")
}

/* entire screen */
* {
  text-align: center;
  font-family: Impact, sans-serif
}

/* number boxes */
td {
 width: 75px;
 height: 60px;
 border: 2px solid yellow;
 margin: 2px;
 float: left;
 font-size: 40px;
 background: black;
 color: white
}

/* number boxes hover */
td:hover {
    background-color: deepskyblue;
}

/* restart button hover */
#button:hover {
    background-color: deepskyblue;
}

/* entire table */
table {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 15px
}

/* timer */
label {
  width: 75px;
  height: 60px;
  font-size: 20px;
  color: black
}

/* restart button */
#button {
  width: 125px;
  height: 15;
  font-size: 20px;
  background-color: black;
  color: white;
  border: 2px solid yellow
}

/* link */
a {
  color: yellow
}
